CMakeCache.txt
**/CMakeFiles
**/__pycache__
cmake_uninstall.cmake
cmake_install.cmake
config.h
/Makefile
src/**/Makefile
.ninja*
*.ninja
2geom.pc
!src/toys/*.cpp
!src/toys/data
!src/toys/svgd
!src/toys/*.h
!src/toys/*.svg
!src/toys/*.svgd
!src/toys/*.hand
!src/toys/*.rb
!src/toys/*.py
src/toys/*
doc/html/
doc/latex/
doxygen_warnings.log
Testing
CTestTestfile.cmake
src/tests/*-test
src/tests/*-test.exe
src/performance-tests/*-test
src/performance-tests/*-test.exe
src/cython-bindings/cython_debug
install_manifest.txt
*.cxx
*.so.*
*.so
*.a
*.dll
*.pyd
*.tar.bz2
*.sig
